
<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   </head>
   <body>  

    <div class="container">
      {% if messages %}
        {% for message in messages %}
              <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"></svg>
            <div>
              {{message}}
            </div>
          </div>
        {% endfor %}
      {% endif %}
     </div>
   
       <h1 style="text-align: center; color: blueviolet; margin-top: 1rem;">Reset your Password</h1><br>
       
       <form class="m-5" action="" method="POST">
           {% csrf_token %}
       <input type="password" class="form-control" placeholder="Create Password" name="password"><br>   
       <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password"><br>   
       <input type="submit" class="btn btn-primary"> <br>
   </form>
   </body>
   </html>