
.body{
    margin: 0%;
}
*{
    margin: 0%;
}


.wedid{
    font-weight: 900;
    font-size: 80px;
    margin-top: 50px;
}

.main-div{
    max-width: 100%;
    height: 10rem;
    /* background-color: rgb(2, 10, 10); */
    display: flex;
    justify-items: flex-start;
}

.heading{
    font-weight: 800;
    color: wheat;
    margin-top: 10px;
    margin: 1rem;

}


.column{

    text-decoration: none;
    color: white;
    width: 20rem;    
}

.pay-btn{
    width: 16rem;
    margin-right: 100px;
}

@media (max-width:800px){
    .column{      
        width: 3rem;    
        min-width: 4rem;
        margin: 1rem;
    }

    .pay-btn{
        width: 16rem;
        margin-right: -100px;
        margin-top: -100px;
    }
    
}