.list{
    border: 2px solid rgb(230, 17, 17);
    padding: 10px;
    border-radius: 7px;
    /* display: flex; */
    /* justify-content: space-between; */
    gap: 20px;
    margin-bottom: 20px;
    background-color:rgba(255, 255, 255, 0.795);
    width: 29%;
    height: 10%;
    float: left;
   
}

.listImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.listDesc{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 2;
}

.listTile{
    font-size: 25px;
    color: #054d80;
    font-size: bold;
    margin: 20px;
    text-decoration: underline;
}

.listPrice{
    font-size: 22px;
    background-color: #7ae9a8f6;
    /* border: #010407 solid 1px; */
    font-weight: bold;
    color: #054d80;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}

.listSize{
    font-size: 22px;
    font-weight: bold;
    color: #054d80;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    
}

.bookbtn{
    background-color:rgb(2, 175, 233)  ;
    color:black;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
 border: #010407 solid 1px;

}

.span{
    color:  #010407;
    font-size: large;
}
.nofound{
    margin: 100px;
    color: white;
}


.main-list{
    padding: 0% 60px;
}



.resbookbtn{
    background-color:rgb(2, 175, 233)  ;
    color:black;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
 border: #010407 solid 1px;

}

@media (max-width:980px){
 
    .listTile{
        font-size: 20px;
        color: #054d80;
        font-size: bold;
        margin: 10px;
        text-decoration: underline;
    }

    .listSize{
        font-size: 15px;
        font-weight: bold;
        color: #054d80;
        width: max-content;
        padding: 5px;
        border-radius: 5px;
        height: 40px;
        
    }

 

    .list{
        border: 2px solid rgb(230, 17, 17);      
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
        background-color:rgba(255, 255, 255, 0.795);
        /* width:max-content;    */
        /* max-width: 100%; */
        margin: 10px;
        width: auto;
        object-fit: fill;
    }
}

@media (max-width:745px){
    .list{
        border: 2px solid rgb(230, 17, 17);
        padding: 10px;
        border-radius: 7px;
        /* display: flex; */
        /* justify-content: space-between; */
        /* gap: 20px; */
        margin-bottom: 20px;
        background-color:rgba(255, 255, 255, 0.795);
        width:100%;
        height: 10%;
        float: left;
       
    }

    .main-list{
        padding: 0% 5px;
        margin: 0%;
    }
}


@media (max-width:800px){
    .listImg{
       display: none;
    }
    .bookbtn{
      
        display: none;
    
    }
}